 /*  TTS Speech Queue */


 .speechQRow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	column-gap: 6px;;

	padding-bottom: 3px;
	margin-bottom: 4px;

	align-items: center; /* vertically? */

	border-bottom: 1px solid gray;

	transition: background-color 0.4s;

	cursor: pointer;
}

.speechQRow:hover {
	background-color:rgb(3, 52, 101);
}

.speechQUser {
	font-size: 0.8em;
	font-weight: bold;
	color:rgb(248, 216, 3)
}

.speechQButtons {
	white-space: nowrap;
}

.XspeechQButtons > div { /* for user monitor */
	display: inline-block;
}
.XspeechQButtons > div:first-child { /* for user monitor */
	margin-right: 6px;
}

.speechQText {
	/* padding: 0 8px; */
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	.speechQRow {
		flex-wrap: wrap;
	}

	.speechQButtons {
		align-self: flex-end;
	}

	.speechQText {
		order: 1;	/* standard is 0 so pushes right */
		padding: 0;
	}
}